<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.3.xsd
    http://www.springframework.org/schema/tx  
    http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
    http://www.springframework.org/schema/data/jpa 
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <!-- 数据源 -->
   <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
<!--         <property name="driverClassName" value="${db.driver}"/> -->
        <property name="jdbcUrl" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
        <property name="autoCommit" value="${db.autoCommit}"/>
        <property name="minimumIdle" value="${db.minimumIdle}"/>
        <property name="connectionTimeout" value="${db.connectionTimeout}"/>
        <property name="idleTimeout" value="${db.idleTimeout}"/>
        <property name="maximumPoolSize" value="${db.maximumPoolSize}"/>
        <property name="maxLifetime" value="${db.maxLifetime}"/>
    </bean>
		
</beans>