<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<head th:include="head :: htmlhead" th:with="title='协议生成管理'">
</head>
  
<body>
<form class="layui-form" action="" lay-filter="example">
  <div class="layui-form-item layui-inline" style="margin-top: 10px;">
    <label class="layui-form-label">版本号</label>
    <div class="layui-input-block">
      <input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="版本号" class="layui-input">
    </div>
    
    <div class="layui-form-item" style="margin-top:  20px;">
        <div class="layui-input-block">
            <button  id="submit" class="layui-btn"  lay-submit lay-filter="addModule">立即提交</button>
        </div>
    </div>
  </div>
</form>
</body>
</html>
