<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="head :: htmlhead" th:with="title='协议生成管理'">
</head>

<body>
<input id="version" th:value="${version}"  hidden="true">
<input id="id" th:value="${id}"  hidden="true">
	<h1 align="center" style="color:#FF5722"  th:text="'当前使用的版本为'+${version}"> </h1>
<a th:href="'/zproto/module/viewModule?version='+${version}"><p align="center">回到模块页</p>
</a>

<protocolTmp id="protocolTmp" hidden="true">
<hr class="layui-border-black">
<div class="layui-form-item">
	<div class="layui-inline">
		<label class="layui-form-label">协议类名：</label>
		<div class="layui-input-inline">
			<input type="text" name="protocol_name" autocomplete="off"
				class="layui-input">
		</div>
	</div>
	<div class="layui-inline">
		<label class="layui-form-label">协议注释</label>
		<div class="layui-input-inline">
			<input type="text" name="protocol_comment" autocomplete="off"
				class="layui-input">
		</div>
	</div>
	<button onclick="$(this).parent().parent().remove();" class="layui-btn">删除协议</button>
	<br>
	<br>
	<br>
	<div name="fields"></div>
	<button name="addField" class="layui-btn">添加字段</button>
</div>
</protocolTmp>

<fieldTmp id="fieldTmp" hidden="true">
<div class="layui-form-item">
	<div class="layui-inline layui-form">
		<label class="layui-form-label">列表:</label>
		<div class="layui-input-block">
<!-- 			<select name="field_repeated" lay-search> -->
<!-- 				<option value="false">false</option> -->
<!-- 				<option value="true">true</option> -->
<!-- 			</select> -->
		<input type="checkbox" name="field_repeated" lay-skin="switch" lay-text="true|false">
		</div>
	</div>
<!-- 	<div class="layui-inline"> -->
<!-- 		<label class="layui-form-label">字段类型：</label> -->
<!-- 		<div class="layui-input-inline"> -->
<!-- 			<input type="text" name="field_type" autocomplete="off" class="layui-input"> -->
<!-- 		</div> -->
<!-- 	</div> -->
	
	<div class="layui-inline">
		<label class="layui-form-label">字段类型：</label>
		<div class="layui-input-inline layui-form">
		<select name="field_type" lay-search >
			<option value=""></option>
			<option value="int32">int32</option>
			<option value="int64">int64</option>
			<option value="string">string</option>
			<option value="bool">bool</option>
			<option value="ChatDto">ChatDto</option>
			<option value="ItemDto">ItemDto</option>
			<option value="PlayerDto">PlayerDto</option>
		</select>
		</div>
	</div>
	
	
	<div class="layui-inline">
		<label class="layui-form-label">字段名：</label>
		<div class="layui-input-inline">
			<input type="text" name="field_name" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-inline">
		<label class="layui-form-label">注释：</label>
		<div class="layui-input-inline">
			<input type="text" name="field_comment" autocomplete="off" class="layui-input">
		</div>
	</div>
	<button onclick="$(this).parent().parent().remove();" class="layui-btn">删除字段</button>
</div>
</fieldTmp>

<br>
<div id="content"></div>
<hr class="layui-border-red">

<button id="addProtocol" class="layui-btn">添加协议</button>
<button id='submit' class="layui-btn">提交</button>
<button id="createMessage1" name="csharp" class="layui-btn" value="csharp" >生成csharp协议</button>
<button id="createMessage2" name="java" class="layui-btn" value="java" >生成Java协议</button>

<br>
<br>
<br>
<br>

</body>
<script type="text/javascript">

    layui.use('layer', function(){
        var layer = layui.layer;
    });

    $("#addProtocol").click(function(){
        var clone = $("#protocolTmp").clone(true);
        clone.attr("hidden",false);
        clone.attr("name","protocol");
        $("#content").append(clone);
        layui.use('form', function(){
            form = layui.form;
            form.render('checkbox');
        });
    });
    $("button[name='addField']").click(function(){
        var clone = $("#fieldTmp").clone(true);
        clone.attr("hidden",false)
        $(this).parent().find("div[name='fields']").append(clone);
    });
    
    $("#submit").click(function(){
        var moduleId=$("#moduleId").val();
        var moduleName=$("#moduleName").val();
        var moduleComment=$("#moduleComment").val();
        var protocolIndex=0;
        
        var protocolArray = [];
        $("protocolTmp[name='protocol']").each(function(){
            var protocol_obj={};
            var fieldIndex=0;
            var fieldArray=[];

            protocol_obj.name=$(this).find("input[name='protocol_name']").val();
            protocol_obj.comment=$(this).find("input[name='protocol_comment']").val();

            $(this).find("#fieldTmp").each(function(){
                var field_obj={};
                var index=fieldIndex+1;
                field_obj.index=index;
                field_obj.repeated=$(this).find("input[name='field_repeated']:checked").val()==="on";
                field_obj.type=$(this).find("input[name='field_type']").val();
                field_obj.name=$(this).find("input[name='field_name']").val();
                field_obj.comment=$(this).find("input[name='field_comment']").val();
                fieldArray[fieldIndex]=field_obj;
                fieldIndex++;
            });
            protocol_obj.fields=fieldArray;
            protocolArray[protocolIndex]=protocol_obj;
            protocolIndex++;
        });
		var version=$("#version").val();
		var id=$("#id").val();
        $.ajax({
            type: 'POST',
            url: '/zproto/module/protoCommit?version='+version+'&id='+id,
            data: JSON.stringify(protocolArray),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function(data){
            	if(data.code == 0){
            		 layer.alert("提交成功！")
            	}else{
            		layer.alert(data.tips)
            	}
            },
            error: function(jqXHR){console.log(jqXHR)},
        });
    });


	$("#createMessage1").click(function(){
		var version=$("#version").val();
		var id=$("#id").val();
		var langType=$("#createMessage1").val();
		$.ajax({
			type: 'GET',
			url: '/zproto/module/createMessage',
			dataType:"json", //返回格式为json
			data:{"id":id,"version":version,"langType":langType}, //参数值
			contentType: 'application/x-www-form-urlencoded',
			success: function(data){
				if(data.code==0){
					layer.alert("生成成功！");
				}else{
					layer.alert("生成失败!");
				}
			},
			error: function(jqXHR){console.log(jqXHR)},
		});
	});
	
	$("#createMessage2").click(function(){
		var version=$("#version").val();
		var id=$("#id").val();
		var langType=$("#createMessage2").val();
		$.ajax({
			type: 'GET',
			url: '/zproto/module/createMessage',
			dataType:"json", //返回格式为json
			data:{"id":id,"version":version,"langType":langType}, //参数值
			contentType: 'application/x-www-form-urlencoded',
			success: function(data){
				if(data.code==0){
					layer.alert("生成成功！");
				}else{
					layer.alert("生成失败!");
				}
			},
			error: function(jqXHR){console.log(jqXHR)},
		});
	});
</script>


<script th:inline="javascript">
    $(document).ready(function(){
 		var protocols = /*[[${data}]]*/ ;
        for(var i in protocols){
            var protocol=protocols[i];
            var clone = $("#protocolTmp").clone(true);
            clone.attr("hidden",false);
            clone.attr("name","protocol");
            clone.find("input[name='protocol_name']").val(protocol.name);
            clone.find("input[name='protocol_comment']").val(protocol.comment);

            var fields=protocol.fields;
            for(var j in fields){
                var fieldClone = $("#fieldTmp").clone(true);
                fieldClone.attr("hidden",false);
                var field=fields[j];
                fieldClone.find("input[name='field_repeated']").prop("checked",field.repeated);
                fieldClone.find("input[name='field_type']").val(field.type);
                fieldClone.find("input[name='field_name']").val(field.name);
                fieldClone.find("input[name='field_comment']").val(field.comment);
                clone.find("div[name='fields']").append(fieldClone);
            }
            $("#content").append(clone);
        }
        layui.use('form', function(){
            form = layui.form;
            form.render('checkbox');
            form.render('select');
        });
    });

</script>

</html>