<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="head :: htmlhead" th:with="title='协议生成管理'"></head>

<!-- <link rel=stylesheet href="../codemirror/doc/docs.css"> -->
<!-- codemirror核心css -->
<link rel="stylesheet" href="../codemirror/lib/codemirror.css">
<!-- <link rel="stylesheet" href="../codemirror/addon/fold/foldgutter.css"> -->
<!-- <link rel="stylesheet" href="../codemirror/addon/dialog/dialog.css"> -->
<link rel="stylesheet" href="../codemirror/theme/monokai.css">
<link rel="stylesheet" href="../codemirror/addon/hint/show-hint.css">
<!-- codemirror核心js -->
<script src="../codemirror/lib/codemirror.js"></script>
<script src="../codemirror/addon/search/searchcursor.js"></script>
<script src="../codemirror/addon/search/search.js"></script>
<script src="../codemirror/addon/dialog/dialog.js"></script>
<script src="../codemirror/addon/edit/matchbrackets.js"></script>
<script src="../codemirror/addon/edit/closebrackets.js"></script>
<!-- <script src="../codemirror/addon/comment/comment.js"></script> -->
<!-- <script src="../codemirror/addon/wrap/hardwrap.js"></script> -->
<!-- <script src="../codemirror/addon/fold/foldcode.js"></script> -->
<!-- <script src="../codemirror/addon/fold/brace-fold.js"></script> -->
<!-- 语言类型 -->
<script src="../codemirror/mode/javascript/javascript.js"></script>
<script src="../codemirror/mode/clike/clike.js"></script>
<script src="../codemirror/keymap/sublime.js"></script>
<script src="../codemirror/addon/hint/show-hint.js"></script>
<script src="../codemirror/addon/hint/anyword-hint.js"></script>

<!-- 编辑模板页 -->
<body>
<form class="layui-form" action="">
<div style="margin: 0 auto;">
 <div class="layui-row">
    <div class="layui-col-md1">
	  <div class="layui-form-item">
	  	 <div class="layui-inline">
	     <button id="submit" class="layui-btn" lay-submit lay-filter="runTemplate">Run</button>
	     </div>
	     <div class="layui-inline">
	     <button id="submit" class="layui-btn" lay-submit lay-filter="saveTemplate">Save</button>
	     </div>
	  </div>
      <div class="grid-demo">
      	<div id="test9" class="demo-tree demo-tree-box" ></div>
      </div>
    </div>
    <div class="layui-col-md5 layui-col-md-offset1">
      <div class="grid-demo grid-demo-bg1">
      		<textarea class="form-control" id="code" name="code"></textarea>
      </div>
    </div>
    <div class="layui-col-md5">
      <div class="grid-demo grid-demo-bg1">
      		<textarea class="form-control" id="show" name="show"></textarea>
      </div>
    </div>
  </div>
</div>
</form>

<script type="text/javascript"  th:inline="none">
//根据DOM元素的id构造出一个展示器
var shower = CodeMirror.fromTextArea(document.getElementById("show"), {
    mode: "text/x-java", //实现java代码高亮
    lineNumbers: true,	//显示行号
    theme: "monokai",	//设置主题
    lineWrapping: true,	//代码折叠
    foldGutter: true,
    gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    matchBrackets: true,	//括号匹配
//     keyMap: "sublime",		//键盘映射
    autoCloseBrackets: true,//开启花括号补全
    showCursorWhenSelecting: true,//选中显示鼠标
    tabSize: 2, 				//tab空格数量
    readOnly: true       //只读
});
shower.setSize('auto', '650');     //设置代码框的长宽
// shower.setValue("");    //先代码框的值清空

//根据DOM元素的id构造出一个编辑器
var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
    mode: "text/x-custom", //实现自定义模式
    lineNumbers: true,	//显示行号
    theme: "monokai",	//设置主题
    lineWrapping: true,	//代码折叠
    foldGutter: true,
    gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    matchBrackets: true,	//括号匹配
    keyMap: "sublime",		//键盘映射
    autoCloseBrackets: true,//开启花括号补全
    showCursorWhenSelecting: true,//选中显示鼠标
    tabSize: 2,				//tab空格数量
    hintOptions: { // 自定义提示选项
        completeSingle: false, // 当匹配只有一项的时候是否自动补全
    }
})
editor.on('change', editor => {
	//shower.setValue(editor.getValue());
    $("#code").text(editor.getValue());
});
editor.on('keypress', () => {
	//编译器内容更改事件
    editor.showHint();
});
editor.setValue("");
editor.setSize('auto', '650px');     //设置代码框的长宽
//操作系统判断
var mac = CodeMirror.keyMap.default == CodeMirror.keyMap.macDefault;
CodeMirror.keyMap.default[(mac ? "Cmd" : "Ctrl")] = "autocomplete";
//anyword autocomplete
CodeMirror.commands.autocomplete = function(cm) {
  cm.showHint({hint: CodeMirror.hint.anyword});
}
setTimeout(() => {
   this.editor.refresh();
   this.shower.refresh();
},100);//让编辑器每次在调用的时候进行自动刷新

//表单操作
layui.use(function(){
    var form = layui.form;
    var tree = layui.tree;
    
    var data1 = [{
        	title: '代码'
        	,disabled: true
            ,id: 1
            ,spread: true
            ,children: [{
              title: 'Entity.ftl'
            },{
              title: 'EntityPo.ftl'
            },{
              title: 'EntityService.ftl'
            }]
          },{
            title: '协议'
           	,disabled: true
            ,id: 2
            ,children: [{
              title: 'proto.ftl'
            },{
              title: 'protoId.ftl'
            }]
          }];
    
    form.on('submit(runTemplate)', function (data) {
        var e = data.field.code;
        $.ajax({
            type: 'POST',
            url: '/zproto/module/runTemplate',
            data: e,
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            success: function(data){
                var str = data.tips;
                shower.setValue(data.data);
                if(data.code == 0){
                	layer.msg(str, {icon: 1});
                }else{
                	layer.msg(str, {icon: 2});
                }
            },
//             error: function(jqXHR){console.log(jqXHR)},
        });
        return false;
	});
    form.on('submit(saveTemplate)', function (data) {
        var e = data.field.code;
        $.ajax({
            type: 'POST',
            url: '/zproto/module/runTemplate',
            data: e,
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            success: function(data){
                var str = data.tips;
                shower.setValue(data.data);
                if(data.code == 0){
                	layer.msg(str, {icon: 1});
                }else{
                	layer.msg(str, {icon: 2});
                }
            },
//             error: function(jqXHR){console.log(jqXHR)},
        });
        return false;
	});
  //开启节点操作图标
    tree.render({
      elem: '#test9'
      ,data: data1
      ,accordion: true//开启手风琴模式
      ,showLine:false
      ,onlyIconControl: true  //是否仅允许节点左侧图标控制展开收缩
      ,edit: ['add', 'update', 'del'] //操作节点的图标
      ,click: function(obj){
    	//如果数据为空, 直接获取后台数据
    	//如果数据不为空, 询问后获取后台数据
    	var val = editor.getValue();
    	if (val !=""){
    		layer.confirm('检测已存在编辑内容, 确定要覆盖为新内容吗?', function(index){
                layer.close(index);
                var e = obj.data.title;
                $.ajax({
                    type: 'POST',
                    url: '/zproto/module/showTemplateDetail',
                    data: e,
                    dataType: 'JSON',
                    contentType: "application/json; charset=utf-8",
                    success: function(data){
                        editor.setValue(data.data);
                    },
                });
            });
    	}else{
    		 var e = obj.data.title;
             $.ajax({
                 type: 'POST',
                 url: '/zproto/module/showTemplateDetail',
                 data: e,
                 dataType: 'JSON',
                 contentType: "application/json; charset=utf-8",
                 success: function(data){
                     editor.setValue(data.data);
                 },
             });
    	}
      }
    ,operate: function(obj){
        var type = obj.type; //得到操作类型：add、edit、del
        var data = obj.data; //得到当前节点的数据
        var elem = obj.elem; //得到当前节点元素
        //Ajax 操作
        var id = data.id; //得到节点索引
        if(type === 'add'){ //增加节点
          //返回 key 值
          return 123;
        } else if(type === 'update'){ //修改节点
          console.log("====>"+elem.find('.layui-tree-txt').html()); //得到修改后的内容
        } else if(type === 'del'){ //删除节点
        };
      }
    });
});
</script>

</body>
</html>
