<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>协议生成管理</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../jquery/jquery-3.4.1.js"></script>
    <script src="../layui/layui.js"></script>
</head>

<body>
<h1 style="text-align: center">请先选择版本：</h1>
<div align="center">
    <div style="padding-left:30px ;padding-top:10px ;display: inline-block;" th:each="version:${versions}">
        <a style="margin-right: 20px;  color:#FD482C; font-size:50px;" th:text="${version}" th:href="'/index?version='+${version}"></a>
    </div>
</div>

<div align="center">
<a style="margin-right: 20px;  color:#FD482C; font-size:50px;" href="/version/index">版本管理</a>
</div>

</body>
<script>
</script>
</html>
