<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="head :: htmlhead" th:with="title='协议生成管理'"></head>

<body>
	<div class="layui-row layui-col-space15">
<!-- 			<div style="display: inline-block;" th:each="version:${versions}"> -->
<!-- <!-- 		        <a th:text="${version}" th:href="'/zproto/module/viewModule?version='+${version}"></a> --> 
<!-- 		        <div class="layui-col-md2"> -->
<!-- 				<div class="layui-panel"> -->
<!-- 					<div style="padding: 30px;"> -->
<!-- <!-- 						<a th:text="${version}" th:href="'/zproto/module/viewModule?version='+${version}"><i class="layui-icon layui-icon-fire" style="color: #FF5722;"></i> </a> --> 
<!-- 						<a href=""> <b> <i class="layui-icon layui-icon-fire" style="color: #FF5722;"> trunk </i></b></a> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				</div> -->
<!-- 		    </div> -->

		<!-- 其他版本区分icon -->
		<div class="layui-col-md2" th:each="version:${versions}">
			<div class="layui-panel">
				<div style="padding: 30px;">
<!-- 					<a href=""> <b> <i class="layui-icon layui-icon-fire" style="color: #FF5722;"> trunk </i></b></a> -->
				<a th:href="'/zproto/module/viewModule?version='+${version}">
				<b><i class="layui-icon layui-icon-fire" style="color: #FF5722;" th:text="${version}"> </i> </b>
				</a>
				</div>
			</div>
		</div>

			<!-- 主干版本在第一个 --> 
<!-- 			<div class="layui-col-md2"> -->
<!-- 				<div class="layui-panel"> -->
<!-- 					<div style="padding: 30px;"> -->
<!-- 						<a href=""> <b> <i class="layui-icon layui-icon-fire" -->
<!-- 								style="color: #FF5722;"> trunk </i> -->
<!-- 						</b> -->
<!-- 						</a> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
			<!-- 其他版本区分icon -->
<!-- 			<div class="layui-col-md2"> -->
<!-- 				<div class="layui-panel"> -->
<!-- 					<div style="padding: 30px;"> -->
<!-- 						<a href=""> <b> <i class="layui-icon layui-icon-cols" -->
<!-- 								style="color: #009688;"> 1.0.0 </i> -->
<!-- 						</b> -->
<!-- 						</a> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="layui-col-md2"> -->
<!-- 				<div class="layui-panel"> -->
<!-- 					<div style="padding: 30px;"> -->
<!-- 						<a href=""> <i class="layui-icon layui-icon-cols" -->
<!-- 							style="color: #009688;"> 1.1.0 </i> -->
<!-- 						</a> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
		</div>
</body>
<script>
	
</script>
</html>
