<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="head :: htmlhead" th:with="title='协议生成管理'"></head>

<body>
	<div class="layui-row layui-col-space15">
		<!-- 其他版本区分icon -->
		<div class="layui-col-md2" th:each="version, stat:${versions}">
			<div class="layui-panel" >
				<div style="padding: 30px;" th:if="${stat.index} == 0">
				<a th:href="'/zproto/module/viewModule?version='+${version}">
				<b><i class="layui-icon layui-icon-fire" style="color: #FF5722;" th:text="' '+${version}"> </i> </b>
				</a>
				</div>
				<!-- 其他版本区分icon -->
				<div style="padding: 30px;" th:unless="${stat.index} == 0">
				<a th:href="'/zproto/module/viewModule?version='+${version}">
				<b><i class="layui-icon layui-icon-cols" style="color: #009688;" th:text="' '+${version}"> </i> </b>
				</a>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	
</script>
</html>
