<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>协议生成管理</title>
    <script src="../static/jquery/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <script src="../static/layui/layui.js"></script>
</head>

<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:#333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
        width: 80%;
    }
    table.gridtable th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
        text-align: center;
    }
    table.gridtable td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
        text-align: center;
    }
</style>
<input id="version" th:value="${version}"  hidden="true">
<h1 align="center" style="color: red"  th:text="'当前使用的版本为'+${version}"> </h1>
<body>
<h2 align="left" th:if="${requests.size()>0}">请求</h2>
<table class="gridtable" th:if="${requests.size()>0}">
    <tr>
        <th>id</th>
        <th>名字</th>
        <th>发送端</th>
        <th>接收端</th>
        <th>注释</th>
        <th>字段</th>
    </tr>
    <tr th:each="request:${requests}" >
        <td th:text="${T(prototool.helper.ProtocolHelper).getProtocolId(id,request.insideId)}"></td>
        <td th:text="${request.name}"></td>
        <td th:text="${request.getSender()}"></td>
        <td th:text="${request.getReceiver()}"></td>
        <td th:text="${request.comment}"></td>
        <td >
            <p th:if="${request.fields.size()==0}">无</p>
            <table border="1" th:if="${request.fields.size()>0}" class="gridtable">
                <tr>
                    <th>repeated</th>
                    <th>类型</th>
                    <th>名字</th>
                    <th>注释</th>
                </tr>
                <tr th:each="field:${request.fields}">
                    <td th:text="${field.repeated}"></td>
                    <td th:text="${field.type}"></td>
                    <td th:text="${field.name}"></td>
                    <td th:text="${field.comment}"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<h2 align="left" th:if="${responses.size()>0}">响应</h2>
<table th:if="${responses.size()>0}" class="gridtable">
    <tr>
        <th>id</th>
        <th>名字</th>
        <th>发送端</th>
        <th>接收端</th>
        <th>注释</th>
        <th>字段</th>
    </tr>
    <tr th:each="response:${responses}">
        <td th:text="${T(prototool.helper.ProtocolHelper).getProtocolId(id,response.insideId)}"></td>
        <td th:text="${response.name}"></td>
        <td th:text="${response.getSender()}"></td>
        <td th:text="${response.getReceiver()}"></td>
        <td th:text="${response.comment}"></td>
        <td >
            <p th:if="${response.fields.size()==0}">无</p>
            <table border="1" th:if="${response.fields.size()>0}" class="gridtable">
                <tr>
                    <th>repeated</th>
                    <th>类型</th>
                    <th>名字</th>
                    <th>注释</th>
                </tr>
                <tr th:each="field:${response.fields}">
                    <td th:text="${field.repeated}"></td>
                    <td th:text="${field.type}"></td>
                    <td th:text="${field.name}"></td>
                    <td th:text="${field.comment}"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<h2 align="left"   th:if="${beans.size()>0}">beans</h2>
<table class="gridtable" th:if="${beans.size()>0}">
    <tr>
        <th>名字</th>
        <th>注释</th>
        <th>字段</th>
    </tr>
    <tr th:each="bean:${beans}">
        <td th:text="${bean.name}"></td>
        <td th:text="${bean.comment}"></td>
        <td >
            <p th:if="${bean.fields.size()==0}">无</p>
            <table border="1" th:if="${bean.fields.size()>0}" class="gridtable">
                <tr>
                    <th>repeated</th>
                    <th>类型</th>
                    <th>名字</th>
                    <th>注释</th>
                </tr>
                <tr th:each="field:${bean.fields}">
                    <td th:text="${field.repeated}"></td>
                    <td th:text="${field.type}"></td>
                    <td th:text="${field.name}"></td>
                    <td th:text="${field.comment}"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>